---
metadata:
  name: Content card
  params:
    variant:
      - default
      - highlighted
    title: ''
    text: ''
    author: ''
    content: This is an example card
    imgSrc: ''
  styleguide:
    - variant: default
      title: Blog post title
      text: This is a post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante munis...
      author: Jane Doe
      imgSrc: 'https://picsum.photos/300/180?random=1'
    - variant: highlighted
      title: Blog post title
      text: This is a post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante munis...
      author: Jane Doe
      imgSrc: 'https://picsum.photos/300/180?random=2'
    - variant: default
      text: This is a post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante munis...
      imgSrc: 'https://picsum.photos/300/180?random=3'

---
{% liquid
  assign variant = params.variant | default: 'default'
  assign title = params.title
  assign text = params.text
  assign author = params.author
  assign imgSrc = params.imgSrc

  assign button_params = null | hash_merge: weight: 'primary', content: 'Read more'
  if variant == 'highlighted'
    assign bgClass = 'bg-highlighted'
  else
    assign bgClass = 'bg-panel'
  endif
%}

<div class="border rounded overflow-hidden  w-80 {{bgClass}}">
  <div><img src="{{imgSrc}}" class="w-full"></div>
  <div class="p-6">
    {% if title != blank%}
    <h2 class="text-xl font-bold pb-2">{{title}}</h2>
    {% endif %}
    <div>{{text}}</div>
    <div class="flex">
      <div>
        <a href="#">{{author}}</a>
      </div>
    </div>
  </div>
</div>
