---
metadata:
  name: Content card
  params:
    variant:
      - default
      - highlighted
    title: ''
    text: ''
    author: ''
    authorLink: ''
    content: ''
    imgSrc: ''
    animation:
      - true
      - false
  styleguide:
    - variant: default
      title: Blog post title
      text: This is a post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante munis...
      author: Jane Doe
      authorLink: '/janedoe'
      imgSrc: 'https://picsum.photos/300/180?random=1'
      animation: true
      content: This is an example card
    - variant: highlighted
      title: Blog post title
      text: This is a post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante munis...
      author: Jane Doe
      authorLink: '/janedoe'
      imgSrc: 'https://picsum.photos/300/180?random=2'
    - variant: default
      text: This is a post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis arcu, tempor eget ante munis...
      imgSrc: 'https://picsum.photos/300/180?random=3'

---
{% liquid
  assign variant = params.variant | default: 'default'
  assign animation = params.animation | default: false
  assign title = params.title
  assign text = params.text
  assign content = params.content | default: false
  assign authorLink = params.authorLink
  assign author = params.author
  assign imgSrc = params.imgSrc

  assign button_params = null | hash_merge: weight: 'primary', content: 'Read more'
  if variant == 'highlighted'
    assign bgClass = 'bg-highlighted'
  else
    assign bgClass = 'bg-panel'
  endif

  if animation == true
    assign animationClass = 'hover:scale-105 duration-500 hover:shadow-large '
  else
    assign animationClass = ''
  endif
%}

<div class="shadow-card rounded overflow-hidden  w-80 {{bgClass}} {{animationClass}}">
  <div><img src="{{imgSrc}}" class="w-full"></div>
  <div class="p-6">
    {% if title != blank %}
    <h2 class="text-xl font-bold pb-2">{{title}}</h2>
    {% endif %}
    <div class="pb-4">{{text}}</div>
    {% if author != blank %}
      <div class="text-xs pb-4">
        by <a href="{{authorLink}}" class="pos-clean text-interactive-text">{{author}}</a>
      </div>
    {% endif %}
    {{content | html_safe}}
  </div>
</div>
