---
metadata:
  name: Accordion
  params:
    id: myAccordion
    name: myAccordion
    multiOpen:
      - true
      - false
    options:
      - title: Option 1
        content: value1
      - title: Option 2
        content: value2
  styleguide:
    - multiOpen: false
      options:
      - title: Option 1
        content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla eros, lacinia sed justo at, posuere laoreet nisl. Proin commodo posuere tincidunt.
      - title: Option 2
        content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla eros, lacinia sed justo at, posuere laoreet nisl. Proin commodo posuere tincidunt.
      - title: Option 3
        content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla eros, lacinia sed justo at, posuere laoreet nisl. Proin commodo posuere tincidunt.
    - multiOpen: true
      options:
      - title: Option 1
        content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla eros, lacinia sed justo at, posuere laoreet nisl. Proin commodo posuere tincidunt.
      - title: Option 2
        content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla eros, lacinia sed justo at, posuere laoreet nisl. Proin commodo posuere tincidunt.
      - title: Option 3
        content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla eros, lacinia sed justo at, posuere laoreet nisl. Proin commodo posuere tincidunt.
---
{% liquid
  assign id = params.id | default: "myAccordion"
  assign multiOpen = params.multiOpen | default: false
  assign options = params.options | parse_json | default: '[]' | parse_json
%}

<div data-pos-component="Accordion" class="inline-block w-80" data-pos-accordion-multiopen="{{multiOpen}}">
{% for option in options %}
  <button class="pos-accordion__title rounded shadow-card bg-panel h-11 cursor-pointer flex items-center px-2 w-80" aria-expanded="false" id="{{id}}{{forloop.index}}" aria-controls="{{id}}{{forloop.index}}Panel">
    {% assign icon_params = null | hash_merge: name: 'dashUp' %}
    <div class="rotate-180 flex items-center px-2 text-interactive-text">
      {% theme_render_rc 'components/atoms/icon', params: icon_params %}
    </div>
    <div class="flex items-center">
    {{option.title}}
    </div>
  </button>
  <div class="pos-accordion__panel" role="region" id="{{id}}{{forloop.index}}Panel" aria-labelledby="{{id}}{{forloop.index}}">
    <p>{{option.content}}</p>
  </div>
{% endfor %}
</div>
