---
metadata:
  name: Chip
  params:
    tag: "div"
    variant:
      - default
      - clickable
      - selected
      - error
      - success
      - warning
    closable:
      - false
      - true
    content: chip
    classes: ''
---
{% liquid
  assign tag = tag | default: params.tag | default: 'div'
  assign closable = closable | default: params.closable | default: false
  assign variant = variant | default: params.variant | default: 'default'
  assign content = content | default: params.content
  assign wrapper_classes = classes | default: params.classes

  assign classes = 'px-3 py-1 leading-5 rounded-surface flex items-center align-center border '

  if variant == 'clickable'
    assign classes = classes | append: ' text-interactive-text border-divider bg-highlighted'
  elsif variant == 'selected'
    assign classes = classes | append: ' text-white border-input-border bg-graphic'
  elsif variant == 'error'
    assign classes = classes | append: ' border-important bg-important-disabled'
  elsif variant == 'success'
    assign classes = classes | append: ' border-confirmation bg-confirmation-disabled'
  elsif variant == 'warning'
    assign classes = classes | append: ' border-warning bg-warning-disabled'
  else
    assign classes = classes | append: ' border-divider bg-highlighted'
  endif

  assign icon_params = '{}' | parse_json | hash_merge: name: 'x', class: 'w-3 h-3 ml-2 '
%}
<div class="inline-block {{wrapper_classes}}">
  <{{tag}} class="{{classes}}">
    {{content}}
    {% if closable == true %}
      {% theme_render_rc 'components/atoms/icon', params: icon_params %}
    {% endif %}
</{{tag}}>
</div>
