---
metadata:
  name: Pagination
  params:
    tag: "div"
    count: 10
    maxCount: 5
    active: 3
    url: ''
  styleguide:
    - tag: "div"
      count: 10
      maxCount: 5
      active: 3
      url: 'something?page='
    - tag: "div"
      count: 5
      maxCount: 5
      active: 3
---
{% liquid
  assign tag = params.tag | default: 'div'
  assign count = params.count
  assign maxCount = params.maxCount
  assign active = params.active
  assign url = params.url | default: '?page='

  assign classes = "pos-pagination__link leading-5 text-interactive-text py-1.5 px-2.5 hover:bg-highlighted "
%}
<nav role="navigation" aria-label="Pagination Navigation">
  <ul class="pagination flex">
    <li class="{{classes}}">
      <a href="#">
        {% assign icon_params = null | hash_merge: name: 'dashLeft' %}
        {% theme_render_rc 'components/atoms/icon', params: icon_params %}
      </a>
    </li>
    {% for i in (1..count) %}
      <li>
        {% if active == i %}
          <a href="{{url}}{{i}}" class="{{classes}} rounded border border-interactive-graphic" aria-label="Current Page, Page {{i}}" aria-current="true">{{i}}</a>
        {% else %}
          <a href="{{url}}{{i}}" class="{{classes}}" aria-label="Goto Page {{i}}">{{i}}</a>
        {% endif %}
      </li>
    {% endfor %}
    <li class="{{classes}}">
      <a href="#">
        {% assign icon_params = null | hash_merge: name: 'dashRight' %}
        {% theme_render_rc 'components/atoms/icon', params: icon_params %}
      </a>
    </li>
  </ul>
</nav>
