---
metadata:
  name: Pagination
  params:
    tag: "div"
    count: 10
    maxCount: 5
    active: 3
  styleguide:
    - tag: "div"
      count: 10
      maxCount: 5
      active: 3
    - tag: "div"
      count: 5
      maxCount: 5
      active: 3
---
{% liquid
  assign tag = params.tag | default: 'div'
  assign count = params.count
  assign maxCount = params.maxCount
  assign active = params.active

  assign classes = "py-1.5 px-2.5 hover:bg-highlighted "
%}
<div class="pagination flex">
  <a href="#" class="{{classes}}">
    {% assign icon_params = null | hash_merge: name: 'dashLeft' %}
    {% theme_render_rc 'components/atoms/icon', params: icon_params %}
  </a>
  {% for i in (1..count) %}
    {% if active == i %}
      <a href="#" class="{{classes}} rounded border border-interactive-graphic">{{i}}</a>
    {% else %}
      <a href="#" class="{{classes}}">{{i}}</a>
    {% endif %}
  {% endfor %}
  <a href="#" class="{{classes}}">
    {% assign icon_params = null | hash_merge: name: 'dashRight' %}
    {% theme_render_rc 'components/atoms/icon', params: icon_params %}
  </a>
</div>
