---
metadata:
  name: Select POC
  params:
    id: mySelect
    name: mySelect
    multiple:
      - true
      - false
  styleguide:
    params:
      multiple: false
---
{% capture options %}
[
  { "label": "Lorem", "value": "lorem"},
  { "label": "Ipsum", "value": "ipsum"},
  { "label": "Dolor", "value": "dolor"}
 ]
{% endcapture %}
{% liquid
  assign options = options | parse_json
  assign id = params.id | default: "mySelect"
  assign name = params.name | default: "mySelect"
  assign multiple = params.multiple | default: false
%}


{% if multiple == true %}
<div data-pos-component="Select" class="relative inline-block" id="{{id}}">
  <div class="flex items-center border border-input-border bg-panel py-2 px-2 h-11" tabindex="0">
    <div class="placeholder cursor-pointer">Select an option</div>
    <div class="tags flex">
      {% for option in options %}
      {% assign tag_id = id | append: '_' | append: option.value %}
      <label for="{{tag_id}}" class="hidden mr-2 cursor-pointer" data-pos-select-tag="{{tag_id}}">
        {% assign chip_params = '{}' | parse_json | hash_merge: closable: true, variant: 'clickable', content: option.label %}
        {% theme_render_rc 'components/molecules/chip', params: chip_params %}
      </label>
      {% endfor %}
    </div>
    <div class="pos-select-opener ml-3 cursor-pointer">
      {% assign icon_params = '{}' | parse_json | hash_merge: name: 'dashDown' %}
      <div>
        {% theme_render_rc 'components/atoms/icon', params: icon_params %}
      </div>
      {% assign icon_params = '{}' | parse_json | hash_merge: name: 'dashUp' %}
      <div class="hidden">
        {% theme_render_rc 'components/atoms/icon', params: icon_params %}
      </div>
    </div>
  </div>

  <div class="pos-select-custom__options hidden absolute bg-panel shadow-card px-6 pt-4 z-50">
    {% for option in options %}
    {% assign opt_id = id | append: '_' | append: option.value %}
    {% assign input_params = '{}' | parse_json | hash_merge: name: name, id: opt_id  %}
    <div class="flex items-center pb-3">
      {% theme_render_rc 'components/atoms/checkbox', params: input_params %}
      <label class="ml-2 cursor-pointer" for="{{opt_id}}">{{option.label}}</label>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if multiple == false %}
<div data-pos-component="Select" class="relative" id="{{id}}">
  <div class="pos-select-custom hidden md:inline-block">
    <div class="flex items-center border border-input-border bg-panel py-2 px-2 h-11" tabindex="0">
      <div class="placeholder cursor-pointer">Select an option</div>
      <div class="pos-select-custom__tags flex">
        {% for option in options %}
        <div class="hidden mr-2 cursor-pointer" data-value="{{option.value}}">
          {{option.label}}
        </div>
        {% endfor %}
      </div>
      <div class="pos-select-opener ml-3 cursor-pointer">
        {% assign icon_params = '{}' | parse_json | hash_merge: name: 'dashDown' %}
        <div>
          {% theme_render_rc 'components/atoms/icon', params: icon_params %}
        </div>
        {% assign icon_params = '{}' | parse_json | hash_merge: name: 'dashUp' %}
        <div class="hidden">
          {% theme_render_rc 'components/atoms/icon', params: icon_params %}
        </div>
      </div>
    </div>

    <div class="pos-select-custom__options hidden absolute bg-panel shadow-card px-1 py-2 z-50">
      {% for option in options %}
      <div class="flex items-center py-2 px-4 cursor-pointer hover:text-inverted hover:bg-interactive-hover" data-value="{{option.value}}">
        {{option.label}}
      </div>
      {% endfor %}
    </div>
  </div>

  <select class="pos-select-simple-native md:hidden">
    <option value="sel" disabled="" selected=""> Select role...</option>
    {% for option in options %}
    <option value="{{option.value}}">{{option.label}}</option>
    {% endfor %}
  </select>
</div>
{% endif %}
