---
metadata:
  name: Avatar
  params:
    imageSrc: ""
    name: "John Doe"
    size: "md"
  styleguide:
    - imageSrc: ""
      name: "John Doe"
      size: "lg"
    - imageSrc: ""
      name: "Harrison Ford"
      size: "md"
    - imageSrc: ""
      name: "Mark Hamill"
      size: "sm"
    - imageSrc: "modules/components/avatar1.jpg"
      name: "John Doe"
      size: "lg"
    - imageSrc: "modules/components/avatar1.jpg"
      name: "John Doe"
      size: "md"
    - imageSrc: "modules/components/avatar1.jpg"
      name: "John Doe"
      size: "sm"
---
{% parse_json sizes %}
{
  "lg": "w-48 h-48 text-7xl ",
  "md": "w-24 h-24 text-4xl ",
  "sm": "w-5 h-5 text-xs "
}
{% endparse_json %}
{% parse_json colors %}
[
  "bg-colorful ",
  "bg-colorful-hover ",
  "bg-graphic ",
  "bg-highlighted "
]
{% endparse_json %}
{% liquid
  assign size = params.size | default: 'md'
  assign name = params.name
  assign imageSrc = params.imageSrc

  assign stringClasses = 'rounded-full flex items-center justify-center text-inverted '
  assign imageClasses = 'rounded-full overflow-hidden '

  assign stringClasses = stringClasses | append: sizes[size]
  assign imageClasses = imageClasses | append: sizes[size]

  assign names = name | split: " "
  if names[0].size < names[1].size
    assign colorIndex = names[1].size | modulo: names[0].size
  else
    assign colorIndex = names[0].size | modulo: names[1].size
  endif

  assign stringClasses = stringClasses | append: colors[colorIndex]
%}

{% if imageSrc == blank %}
<div class="{{stringClasses}}">
    {{names[0] | slice: 0}}{{names[1] | slice: 0}}
</div>
{% else %}
<div class="{{imageClasses}}">
  <img src="{{imageSrc | asset_url}}" class="object-cover h-full">
</div>
{% endif %}
