---
metadata:
  name: Checkbox
  params:
    name: 'my-checbox'
    checked:
      - false
      - true
    id: 'my-checbox'
    disabled:
      - false
      - true
---
{% liquid
  assign checked = params.checked | default: false
  assign id = params.id
  assign name = params.name
  assign disabled = params.disabled | default: false

  assign container_classes = 'block relative '
  assign input_classes = 'hidden'
  assign basic_classes = 'checkmark border w-4 h-4 border-input-border cursor-pointer block '
  assign checked_classes = 'enabled:checked:bg-interactive-graphic  '

  assign classes = basic_classes | append: checked_classes
%}
<label class="{{container_classes}}">
  <input class="{{input_classes}}"
    type="checkbox"
    id="{{id}}"
    name="{{name}}"
    {% if checked %}checked{% endif %}
    {% if disabled %}disabled{% endif %}
  />
  <span class="{{classes}}"></span>
</label>

