---
metadata:
  name: Checkbox
  params:
    name: 'my-checkbox'
    value: ''
    checked:
      - false
      - true
    id: 'my-checkbox'
    disabled:
      - false
      - true
---
{% liquid
  assign checked = checked | default: params.checked | default: false
  assign id = id | default: params.id | default: params.name
  assign name = name | default: params.name
  assign value = value | default: params.value
  assign disabled = disabled | default: params.disabled | default: false

  assign container_classes = 'block relative '
  assign input_classes = 'hidden'
  assign checkmark_classes = 'pos-checkmark border w-4 h-4 border-input-border bg-input cursor-pointer block '
%}
<label class="{{container_classes}}">
  <input class="{{input_classes}}"
    type="checkbox"
    id="{{id}}"
    name="{{name}}"
    {% if value %}value="{{value}}"{% endif %}
    {% if checked %}checked{% endif %}
    {% if disabled %}disabled{% endif %}
  />
  <span class="{{checkmark_classes}}"></span>
</label>

