---
metadata:
  name: Checkbox
  params:
    name: 'my-checkbox'
    checked:
      - false
      - true
    id: 'my-checkbox'
    disabled:
      - false
      - true
---
{% liquid
  assign checked = params.checked | default: false
  assign id = params.id
  assign name = params.name
  assign disabled = params.disabled | default: false

  assign container_classes = 'block relative '
  assign input_classes = 'hidden'
  assign checkmark_classes = 'pos-checkmark border w-4 h-4 border-input-border bg-input cursor-pointer block '
%}
<label class="{{container_classes}}">
  <input class="{{input_classes}}"
    type="checkbox"
    id="{{id}}"
    name="{{name}}"
    {% if checked %}checked{% endif %}
    {% if disabled %}disabled{% endif %}
  />
  <span class="{{checkmark_classes}}"></span>
</label>

