---
metadata:
  name: Mobile menu dropdown
  params:
    label: 'LabelElement'
    content: 'MenuContent'
    classes: ''
    menu_classes: ''
    label_classes: ''
    label_attributes: []
    menu_attributes: []
  styleguide:
    - label: >
        <div class="inline-block">
          Left
        </div>
      content: >
        <ul>
          <li class="p-2"><a href='#' class='text-normal'>Lorem ipsum dolor</a></li>
          <li class="p-2"><a href='#' class='text-normal'>Lorem ipsum dolor</a></li>
          <li class="p-2"><a href='#' class='text-normal'>Lorem ipsum dolor</a></li>
          <li class="p-2"><a href='#' class='text-normal'>Lorem ipsum dolor</a></li>
        </ul>
      classes: 'w-64'
      menu_classes: ''
      label_classes: ''
---
{% liquid
  assign label = label | default: params.label
  assign content = content | default: params.content
  assign classes = classes | default: params.classes
  assign menu_classes = menu_classes | default: params.menu_classes
  assign label_classes = label_classes | default: params.label_classes
  assign label_attributes = label_attributes | default: params.label_attributes
  assign menu_attributes = menu_attributes | default: params.menu_attributes
  assign menu_classes = "hidden bg-panel p-4 ml-4 text-lg " | append: menu_classes | strip
  assign arrow = arrow | default: params.arrow
  if arrow == null
    assign arrow = true
  endif
%}

<div
  x-data="{}"
  data-pos-component="dropdown"
  class="md:relative inline-block">
  <button
    class="{{ label_classes }}"
    {% for attribute in label_attributes %}
    {{ attribute[0] | html_safe }}
    ="{{ attribute[1] | html_safe }}"
    {% endfor %}
    data-dropdown-trigger>
    {% print label %}
  </button>
  <div
    data-dropdown-content
    class="{{ menu_classes }}"
    aria-hidden="true">
    {{ content | html_safe }}
  </div>
</div>
