---
metadata:
  name: flashes
  description: component for displaying flash messages
  params:
    message: ""
    severity:
      - info
      - error
      - success
    position: "fixed"
    positioning_classes: "bottom-2 left-0"
    autohide: true
    delay: 1000

  styleguide:
      - position: "relative"
        message: "Info message"
        autohide: false
      - position: "relative"
        message: "Error message"
        severity: 'error'
        autohide: false
      - position: "relative"
        message: "Success message"
        severity: 'success'
        autohide: false
      - message: "Info message"
        positioning_classes: "top-16 left-8"
        autohide: false
---
{% liquid
  assign position = position | default: params.position | default: 'fixed'
  assign autohide = autohide | default: params.autohide
  assign delay = delay | default: params.delay | default: 1000
  assign message = message | default: params.message | default: null
  assign severity = severity | default: params.severity | default: 'info'
  assign positioning_classes = positioning_classes | default: params.positioning_classes | default: 'bottom-2 left-0'
%}
<div
  data-pos-component="flashes"
  class="{{ position }} {{ positioning_classes }} z-50 max-w-full"
>
  <template data-flash-template>
    <div class="px-4 overflow-hidden text-content-inverted" data-flash>
      <div class="min-w-80 max-w-full mb-2 mt-2 relative transition transform">
        {% capture flash_content %}
          <div class="mx-3 font-semibold" data-flash-content></div>
        {% endcapture %}
        {% liquid
          assign flash_content = flash_content | html_safe

          assign error_attributes = null | hash_merge: data-flash-error: null
          theme_render_rc 'components/molecules/alert', severity: 'error', content: flash_content, attributes: error_attributes

          assign success_attributes = null | hash_merge: data-flash-success: null
          theme_render_rc 'components/molecules/alert', severity: 'success', content: flash_content, attributes: success_attributes

          assign info_attributes = null | hash_merge: data-flash-info: null
          theme_render_rc 'components/molecules/alert', severity: 'info', content: flash_content, attributes: info_attributes
        %}
        <button
          title="{{ 'app.close' | t }}"
          class="p-4 absolute right-0 top-0 hover:text-interaction-hover"
          data-flash-close
        >
          {% theme_render_rc 'modules/components/atoms/icon', name: 'x', class: 'w-2' %}
        </button>
      </div>
    </div>
  </template>
  {% if message %}
    <script>
      document.addEventListener('apiFlashReady', () => {
        new posComponents.flash('{{ severity }}', {% print message | markdown | json %}, { delay: {{ delay | json }} {% if severity == 'success' and autohide != null %}, autohide: {{ autohide }} {% endif %} });
      });
    </script>
  {% endif %}
</div>
